main {
  display: flex;
  flex-direction: column;
  text-align: center;
  .main-section {
    display: flex;
    flex-direction: column;
    height: 50%;
    text-align: center;
    max-width: 90%;
    margin: 25px auto;

    .img-container {
      display: flex;
      height: 100%;
      gap: 3%;
      margin: 10px auto;
      width: 100%;
      justify-content: center;
    }
  }
}
