@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap')

* {
box-sizing: border-box;
}

h1 h3 {
  font-family:  "Cabin", sans-serif;
  color: black;
}


body {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin: 0;
}

.container {
  display: flex;
  width: 70vw;
}

.cities_top {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  color: white;
  margin: 10px;
  position: relative;
}
.cities_bottom {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  color: white;
  margin: 10px;
  position: relative;
}