@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap')



h1 h3 {
  font-family:  "Cabin", sans-serif;
  color: black;
}


body {
 
}

.container {
  display: flex;
  width: 70vw;
}

.cities_top {
 
}
.cities_bottom {

}