body {
  margin: 0;
  background-color: #E9EBE7;
  color: #45484D;
  font-family: Helvetica, sans-serif;
}

.center-horizontal {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.containter {
  text-align: center;
}

.containter button {
  padding: 10px 70px;
  background-color: white;
  border: 1px solid #45484D;
  color: #45484D;
  font-size: 18px;
  font-weight: bold;
}

.city-images {
  display: flex;
  justify-content: center;
}

/* https://www.w3schools.com/howto/howto_css_image_text.asp */
.image-container {
  position: relative;
  padding: 30px;
}

.image-container h3 {
  font-size: 2em;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container img {
  width: 400px;
  height: 400px;
}

.wireframe-black {
  border: 4px solid black;
}

.wireframe-green {
  border: 4px solid chartreuse;
}

.wireframe-pink {
  border: 4px solid hotpink;
}

