h1 {
  color: grey;
}
h5{
  color: grey;
}
.cities-logo{
  display: inline-block;
  size: 
  
}
.left {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
