:root {
  --dark-white: rgb(219, 221, 219);
  --dark-gray: rgb(76, 76, 79);
  --bright-white: #FFFFFF;
}

* {
  background-color: var(--dark-white);
  font-family: Helvetica, sans-serif;
  color: var(--dark-gray);
}

button {
  background-color: var(--bright-white);
  color: var(--dark-gray);
  border: .2rem solid var(--dark-gray);
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.center {
  text-align: center;
  /* top-botton = 0, side-side are auto (take up all the space) */
  margin: 0 auto;
}

.img-container {
  position: relative;
  display: inline-block;
}

/* select child of element */
.img-container > img {
  /* display inline but still ahve a box model */
  /* display: inline-block; */
  width: 30rem;
  height: 30rem;
}

.img-container > h3 {
  font-size: 2rem;
  color: var(--bright-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
.wireframe-dark-green {
  border: .5rem solid darkgreen;
}

.wireframe-yellow {
  border: .5rem solid yellow;
}

.wireframe-red {
  border: .5rem solid red; 
}

.wireframe-green {
  border: .5rem solid chartreuse;
}