body{
  background: rgb(205, 204, 218);
background: linear-gradient(90deg, rgb(206, 205, 154) 0%, rgb(145, 145, 130) 35%, rgb(255, 255, 255) 100%);
font-family: 'Kanit', sans-serif;
}
button{
  text-align: center;
  margin: auto;
  display: flex;
  display: grid;
}
h1 {
  text-align: center;
  }
  h4{
    text-align: center;
  }
  div{
    height: 200px;
    width: 200px;
    background-size: cover;
    display: inline-block;
    text-align: center;
    background-position: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle; 
  }
  h2{
    margin-top: 50%;
    color: white;
    text-shadow: 40px;
    font-family: 'Paytone One', sans-serif;
  }
.san-fran1{
  margin-left: 30%;
  background-image: url("/img/san-francisco.jpg");
}
 .new-york{
  background-image: url("/img/new-york.jpg");
}
.london{
  background-image: url("/img/london.jpg");
}
.napa{
  margin-left: 30%;
  background-image: url("/img/napa.jpg");
}
.sonoma{
  background-image: url("/img/sonoma.jpg");
}
.san-fran2{
  background-image: url("/img/san-francisco-2.jpg");
} 

