body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(237, 239, 236);
    color: rgb(85, 85, 93)
}

button {
    margin-top: 40px;
    padding: 10px 80px;
    background-color: white;
    border: 1px solid rgb(85, 85, 93);  
    font-family: Arial, Helvetica, sans-serif;  
}

.center {
    text-align: center;
    margin: 0 auto;
}

.img-container {
    display: inline-block;
    position: relative;
}

.img-container > img {
    width: 300px;
    height: 300px;
}

.img-container > h2 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}