body {
  background: #edefec;
  font: sans-serif;
  text-align: center;
}
h1 {
  color: black;
}
img {
display: inline-block;
width: 20%;
}
.guidebooks {
  color: white;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 28.5%;
  left: 38%;
  z-index: 10;
  
}
.weekendgetaways {
  color: white;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 81%;
  left: 38%;
  z-index: 10;
}

