body {
  margin: 0;
  background-color: #E9EBE7;
  color: #45484D;
  font-family: Helvetica, sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.spots {
  text-align: center;
  margin: 50px 0;
}

.spots button {
  padding: 10px 70px;
  background-color: white;
  border: 1px solid #45484D;
  color: #45484D;
  font-size: 18px;
  font-weight: bold;
}

.spots-images {
  margin: 20px 0;
  color: white;
}

.spots-images .spot {
  position: relative;
  display: inline-block;
  background-size: cover;
  background-color: #E9EBE7;
  width: 300px;
  height: 300px;
  margin: 15px;
}

.spots-images .spot-title {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.san-francisco-1 {
  background-image: url("../images/san-francisco.jpg");
}

.san-francisco-2 {
  background-image: url("../images/san-francisco-2.jpg");
}

.new-york {
  background-image: url("../images/new-york.jpg");
}

.london {
  background-image: url("../images/london.jpg");
}

.napa {
  background-image: url("../images/napa.jpg");
}

.sonoma {
  background-image: url("../images/sonoma.jpg");
}
